cuerpo {
	display: block;
	margin-bottom: 50px;
}

.text-family-roboto{
	font-family: 'Roboto', sans-serif;
}

.text-family-alegreya{
	font-family: 'Alegreya Sans', sans-serif;
}

.text-family-sans{
	font-family: 'Source Sans Pro', sans-serif;
}

.italic {
	font-style: italic; 
}

.menu {
	display: flex;
	flex-direction: column;
	min-height: 18vh;
	justify-content: space-around;
}

.img-logo {
	display: block;
	width: auto;
	height: 18vh;
	margin: auto;
}

.centrar-column {
	display: flex;
	min-height: 18vh;
	flex-direction: column;
	justify-content: space-around;
}

.centrar-column-2 {
	display: flex;
	position: relative;
	width: auto;
	height: 100px;
	float: right;
	bottom: 0;
	padding: 20px 0;
}

.img-menu {
	display: block;
	width: auto;
	height: 60px;
	margin: auto;
}

.menu-text {
	text-align: center;
	padding-top: 5px;
}

@media (max-width: 999px) {
    .img-menu{
    	display: none;
  }
}

@media (max-width: 999px) {
    .centrar-column{
    	display: block;
    	height: auto;
  }
}

.margin-top-20px {
	margin-top: 20px;
}

.text-center{
	text-align: center;
}

.redes {
	display: block;
	width: 60%;
	height: auto;
	margin: auto;
}

.enviar-pedido, .restaurante-pedido {
	display: block;
	padding: 20px;
	border-radius: 15px;
	color: black;
}

.sombra-medium {
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.enviar-pedido {
	background: #AF0000;
}

.restaurante-pedido {
	background: #056F00;
}

.margin-l-r-20px{
	margin: 0 20px;
}

.center-img{
	display: block;
	margin: 0 auto;
}

.center-button{
	display: block;
	margin: 0 auto;
}

.img-h-100px{
	width: auto;
	height: 100px;
}

.button-inicio-enviar, .button-inicio-restaurante {
	margin-top: 20px;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 1.2em;
	border-radius: 15px;
	border: 2px solid rgba(0, 0, 0, 0.8);
	outline: none;
}

.button-inicio-enviar:hover {
	background: #056F00;
	color: white;
}

.button-inicio-restaurante:hover {
	background: #AF0000;
	color: white;
}

.margin-top-20px{
	margin-top: 20px;
}

footer {
  	background: #181E2E;
	width: 100%;
	padding: 20px;
	color: white;
}

form {
	display: block;
	width: 60%;
	margin: 0 auto;
}


form > div > label {
	display: block;
	width: 100%;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 1.1em;
}

form > div > input {
	display: block;
	width: 100%;
	min-width: 200px;
	padding-left: 5px;
	border: none;
	border-bottom: 2px solid gray;
	outline: none;
	margin: 0 auto;
}

form > div > input:hover {
	border-bottom: 2px solid green;
}

form > div > input:focus {
	border-bottom: 2px solid red;
}

form > button{
	display: block;
	float: right;
	width: auto;
	margin-top: 20px;
	font-size: 1.2em;
	padding: 5px 20px;
	border-radius: 10px;
	border: 2px solid rgba(0, 0, 0, 0.8);
	outline: none;
	font-weight: bold;
	background: green;
	color: white;
}

form > button:hover{
	background: #045B00;
}

.formdata {
	margin-top: 30px;
	background: lightgray;
	padding: 20px;
	color: black;
	font-size: 1.1em;
	border-radius: 20px;
}

.formdata > div > span > span {
	font-weight: bold;
	font-style: italic;
}

.google-map{
	width: 100%;
	height: 50vh;
}

.cleardata{
	margin-top: 20px;
	margin-left: 15px;
}

.efect-hover-key{
	cursor: pointer;
	height: 100%;
}


.img-90-porciento {
	display: block;
	width: 90%;
	height: auto;
	border: 5px solid black;
	border-radius: 25px;
	margin: auto;
}

.div-90x100-porciento {
	display: block;
	width: 90%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	padding: 3px 17px;
	padding-bottom: 13px;
	margin: auto;
}

.efect-hover{
	display: none;
	flex-direction: column;
	justify-content: space-around;
	background-color:rgba(0,0,0,0.7);
	border-radius: 25px;
	width: 100%;
	height: 100%;
	color: black;
	padding: 20px;
}

.efect-hover > button{
	display: block;
	padding: 15px 10px;
}

.efect-hover-key:hover > div > .efect-hover {
	display: flex;
}



@media screen and (max-width: 992px){

	.img-90-porciento {
		min-width: 200px;
		max-width: 400px;
		height: auto;
		margin: auto;
	}

	.div-90x100-porciento {
		min-width: 200px;
		max-width: 400px;
		height: 100%;
		padding: 3px;
	}

}

@media screen and (max-width: 490px){

	.div-90x100-porciento {
		min-width: 200px;
		max-width: 400px;
		height: 100%;
		padding: 3px 12px;
	}

}

.ordenar {
	display: flex;
}

.ordenar > button{
	width: 100%;
	display: block;
	padding: 15px 10px;
}

#details-fondo {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	position: fixed;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 9999;
	cursor: pointer;
}

#details-fondo > div{
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 50%;
	background: white;
	padding: 20px;
}